  .library-index-item {
    // border: 1px solid rgb(80, 238, 49);
    width: 20vh;
    height: 20vh;
    // border-radius: 4px;
    justify-content: center;
    display: flex;
    // background: linear-gradient(75deg, $body-lightest,$light-green);
      &:hover {
        transform: scale(1.5);
        transition: all .4s ease;
        border-radius: 4px;
        background-color: black;
        #game-img--library {
          opacity: 50%;
        }
        #game-title--library {
          visibility: visible;
          opacity: 100%;
        }
      }
    
  }

  #game-img--library {
    max-height: 20vh;
    max-width: 20vh;
   
  }

  #game-title--library {
    font-family: $sans-serif;
    color: $dark-blue;
    text-decoration: none;
    text-align: center;
    visibility: hidden;
    position: absolute;
    background: linear-gradient(75deg, $body-lightest,$lightest-tan);
    border-radius: 2px;
    // border: .2rem solid $dark-green;
    width: 90%;
    font-size: 1.5rem;
    top: 43%;
    left: 5%;
    
    
  }