$dark-brown: rgb(67,44,43);
$tan: rgb(156,111,83);
$beige: rgb(196, 160, 134);
$light-tan: rgb(204, 190, 160);
$lightest-tan: rgb(233, 229, 220);
$body-lightest: rgb(245, 241, 231);
// $body-lightest: rgb(245, 242, 234);

$dark-green: rgb(12,89,66);
$light-green: rgb(16,121,102);

$dark-blue: rgb(44,73,122);
$light-blue: rgb(14,122,171);

$dark-red: rgb(169,39,38);
$light-red: rgb(223,51,39);

$yellow: rgb(245,199,9);

$text-blue: rgb(46, 47, 68);

// VERT LINEAR GRADIENT
// background: linear-gradient(171deg, rgba(245,241,231,1) 10%, rgba(255,254,252,1) 100%);
