@import './reset';
@import './colors';
@import './fonts';

@import './splash/splash.scss';
@import './splash/session_form.scss';
@import './group/group_show.scss';
@import './group/group_index.scss';

@import './game/game_show.scss';
@import './library/library.scss';
@import './library/library_item.scss';



@import './nav/nav.scss';

@import './game//new_game_form.scss';
@import './game/game_show.scss';

html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: repeat(12, 1fr);
  // grid-template-columns: 0.5fr 2fr 5fr 2fr 0.5fr;
  // grid-template-rows: 0.5fr 2fr 3fr 3fr 1.5fr;
  // gap: 15px 10px;
  // height: 100%;
}

