.new-game-form-container {
  height: 100%;
  // border: 1px solid black;
  color: $dark-blue;
  padding-top: 8vh;
}

.game-form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1%;
}

.new-game-form {
  display: grid;
  height: 100%;
  grid-template-columns: 0.5fr 2fr 5fr 2fr 0.5fr;
  grid-template-rows: 0.05fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr 5fr;
}

.game-form-name {
  display: flex;
  grid-column: 2/5;
  grid-row: 2/3;
  font-weight: bold;
  label{ 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  input {
    margin-left: 1%;
  }
}

.game-form-numplayers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/5;
  grid-row: 3/4;
  span {
    font-weight: bold;
  }
  div {
    width: 100%;
    text-align: center;
  }
  label {
    width: 100%;
  }
  input {
    width: 4vw;
    height: 2vh;
    margin: .5%;
  }
}

.game-form-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/5;
  grid-row: 4/5;
  h2 {
    font-weight: bold;
  }
  div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  label {
    padding: 1%;
  }
}

.game-form-descriptors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/5;
  grid-row: 5/6;
  h2 {
    font-weight: bold;
  }
  div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  label {
    padding: 1%;
  }
}

.game-form-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/5;
  grid-row: 6/7;
  h2 {
    font-weight: bold;
  }
  div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  label {
    padding: 1%;
  }
}

.game-form-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/5;
  grid-row: 7/8;
  label{ 
    text-align: center;
    font-weight: bold;
    width: 100%;
  }
  textarea {
    width: 30%;
    height: 70%;
    align-self: center;
  }
}

.game-form-rules {
  display: flex;
  grid-column: 2/5;
  grid-row: 8/9;
  font-weight: bold;
  label{ 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  input {
    margin-left: 1%;
  }
}

.game-form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2/5;
  grid-row: 9/10;
  input {
    border: 1px solid $dark-blue;
    background-color: white;
    border-radius: 2px;
    padding: .5%;
    color: $dark-blue;
    cursor: pointer;
    &:hover {
      background-color: $light-blue;
      color: white;
    }
  }
}

.game-errors {
  grid-column: 2/5;
  grid-row: 10/11;
  display: flex;
  justify-content: center;
  padding: 1%;
  color: $dark-red;
}