.new-game-form-container {
  // height: 100%;
  // border: 1px solid black;
  color: $dark-blue;
  overflow-y: auto;
  // padding-top: 2vh;
  grid-row: 1 / 11;
  grid-column: 1 / 13;
  font: inherit;
}

.game-form-header {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  // text-align: center;
  align-self: flex-end;
  font-size: 2rem;
  grid-column: 3/11;
  padding: 1%;
  font-family: $serif;
  // grid-row: 1/2;
}

.new-game-form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
  width: 100%;
  grid-column: 3/11;
}

.game-form-name {
  display: flex;
  grid-column: 3/11;
  // grid-row: 2/3;
  padding-top: 2%;
  font-weight: bold;
  label{ 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  input {
    margin-left: 1%;
    padding: .5%;
    width: 20%;
  }
}

.game-form-numplayers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  grid-column: 3/11;
  // grid-row: 3/4;
  span {
    font-weight: bold;
  }
  div {
    width: 100%;
    text-align: center;
  }
  label {
    width: 100%;
  }
  input {
    width: 4vw;
    height: 2vh;
    margin: .5%;
  }
}

.game-form-category {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3/11;
  // grid-row: 4/5;
  h2 {
    font-weight: bold;
  }
  div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  label {
    padding: 1%;
  }
}

.game-form-descriptors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  grid-column: 3/11;
  // grid-row: 5/6;
  h2 {
    font-weight: bold;
  }
  div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  label {
    padding: 1%;
  }
}

.game-form-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  grid-column: 3/11;
  // grid-row: 6/7;
  h2 {
    font-weight: bold;
  }
  div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  label {
    padding: 1%;
  }
}

.game-form-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2%;
  align-items: center;
  grid-column: 3/11;
  // grid-row: 7/8;
  label{ 
    text-align: center;
    font-weight: bold;
    width: 100%;
  }
  textarea {
    width: 30%;
    height: 70%;
    align-self: center;
    padding: .5%;
    margin-top: .5%;
  }
}

.game-form-rules {
  display: flex;
  grid-column: 3/11;
  // grid-row: 8/9;
  padding-top: 2%;
  font-weight: bold;
  label{ 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  input {
    margin-left: 1%;
  }
}

.game-form-submit {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  padding-top: 2%;
  align-items: center;
  grid-column: 3/11;
  // grid-row: 9/10;
  input {
    border: 1px solid $dark-blue;
    background-color: white;
    border-radius: 4px;
    padding: .5rem;
    color: $dark-blue;
    cursor: pointer;
    &:hover {
      background-color: $light-blue;
      color: white;
      box-shadow: 2px 2px 10px black;
    }
    // background: linear-gradient(225deg,$lightest-tan, $body-lightest)
  }
}

.game-errors {
  grid-column: 3/11;
  // grid-row: 10/11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  color: $dark-red;
  list-style: none;
}