
// font-family: 'Bodoni Moda', serif;
// font-family: 'Montserrat', sans-serif;

.group-show-container {
  
  display: grid;
  // display: grid;
  // grid-template-columns: 0.5fr 2fr 5fr 2fr 0.5fr;
  // grid-template-rows: 0.5fr 2fr 3fr 3fr 1.5fr;
  // gap: 15px 10px;
  grid-row: 1 / 13;
  grid-column: 1 / 13;
  height: 100%;
  width: 100%;
  background-color: rgb(241, 230, 221);
  h1 {
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
  }
}

// header placeholder
.navbar-container {
  border: 1px solid gray;
  display: grid;
  background-color: rgb(232, 216, 203);
  grid-row: 1 / 2;
  grid-column: 1 / 13;
  align-items: center;
  padding-left: 20px;
} 

.gs-content {
  border: 1px solid gray;
  grid-row: 3 / 13;
  grid-column: 1 / 13;
  display: grid;
  // width: 100%;
}

.gs-user-list-container {
  border: 1px solid gray;
  grid-row: 3 / 12;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  h2 {
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
  }
}

.gs-games-container {
  border: 1px solid gray;
  grid-row: 3 / 12;
  grid-column: 4 / 13;
  display: flex;
}