
.group-show-container {
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-row: 1 / 13;
  grid-column: 1 / 13;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: $body-lightest;
  background: linear-gradient(171deg, rgba(245,241,231,1) 10%, rgba(255,254,252,1) 100%);
  color: $text-blue;
}

.gs-sub-header {
  display: flex;
  grid-row: 2 / 3;
  grid-column: 3 / 11;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  color: $text-blue;
  h1 {
    font-family: $serif;
    font-weight: 700;
    font-size: 1.8rem;
    border-bottom: 2px solid $text-blue;
    cursor: default;
  }
}

.btn--share-group {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $dark-blue;
  border-radius: 4px;
  padding: 0.5rem;
  width: 7rem;
  transition:all 1s ease;
  &:hover {
    transform: scale(1.05);
    transition: all .4s ease;
    background: radial-gradient(circle, $light-blue 40%, $light-blue 100%);
    color: $body-lightest;
    font-weight: 500;
    cursor: text;
  }
}



.gs-content {
  // border: 1px solid gray;
  grid-row: 3 / 13;
  grid-column: 3 / 11;
  display: grid;
  // border: $beige solid 2px;
  border-radius: 6px;
}

.gs-user-list-container {
  border: $beige solid 2px;
  border-radius: 6px;
  grid-row: 3 / 12;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  
  h2 {
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    color: $text-blue;
    border-bottom: solid 1px $text-blue;
  }
  overflow-y: auto;
}

.gs-user-li {
  display: flex;
  padding-top: 1rem;
  color: $text-blue;
}


.gs-games-container {
  border: $beige solid 2px;
  border-radius: 6px;
  grid-row: 3 / 12;
  grid-column: 4 / 13;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.gs-games-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // height: 100%;
  padding-top: 1rem;
  justify-content: space-around;
  

}

.gs-game-item {
  border: 1px solid gray;
  width: 20vh;
  height: 20vh;
  align-items: center;
  justify-content: center;
  
}


// Won't select past Item CSS 
// #group-lib-item {
//   margin: 2rem;

// }
// #group-lib-item:hover {
//   transform: scale(1.05);
//   transition: all .6s ease-in-out;
//   border-radius: 4px;

// }