

.group-index-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-row: 1 / 13;
  grid-column: 1 / 13;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: $body-lightest;
  background: linear-gradient(171deg, rgba(245,241,231,1) 10%, rgba(255,254,252,1) 100%);
}

.gi-sub-header {
  // border: 1px solid gray;
  display: flex;
  grid-row: 1 / 3;
  grid-column: 3 / 11;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: $dark-brown;
  font-weight: 500;
  font-size: 1.1rem;
    
  h1 {
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-shadow: 2px;
    border-bottom: 2px solid $dark-blue;
    color: $dark-brown;
    cursor: default;
    justify-self: flex-start;
  }
}

.gi-buttons {
  display: flex;
  flex-direction: row;
}

.gi-content {
  // border: 1px solid gray;
  grid-row: 3 / 13;
  grid-column: 3 / 11;
  display: flex;
}

.gi-groups-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.gi-group-list {
  border: $beige solid 2px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;

}

.gi-group-item {
  display: flex;
  flex-direction: column;
  // border: 1px solid gray;
  width: 30vh;
  height: 20vh;
  align-items: center;
  justify-content: center;
  margin: 1.5rem; 
  border-radius: 6px;
  box-shadow: 2px 2px 12px black;
  // background-color: $dark-green; 
  background: radial-gradient(circle, $light-green 1%, $dark-green 100%);
  font-family: $sans-serif;
  font-weight: 500;
  color: $body-lightest;
  cursor: pointer;
}

.gi-group-item:hover {
  transform: scale(1.05);
  transition: all .6s ease-in-out;
  border-radius: 4px;
}

.gi-group-name {
  font-size: 1.3rem;
  padding-bottom: 0.25rem;
  font-family: 'Bodoni Moda', serif;
  font-weight: 700;
  border-bottom: 1px solid $body-lightest;
}

.gi-group-total {
  font-size: 1rem;
  padding-bottom: 0.3rem;
  padding-top: 1rem;

}

.gi-group-founder {
  font-size: 0.9rem;
  padding: 0.3rem;
  border: 1px solid $body-lightest;
  border-radius: 3px;

}

.gi-group-member {
  font-size: 0.7rem;

}

#gi-group-link {
  text-decoration: none;
}

.btn--create-group {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $dark-brown;
  
  font-size: 0.8rem;
  border-radius: 4px;
  padding: 0.5rem;
  width: 6rem;
  margin-left: 0.5rem;

  &:hover {
    transform: scale(1.05);
    transition: all .4s ease;
    background: radial-gradient(circle, $light-green 40%, $dark-green 100%);
    color: $body-lightest;
    font-weight: 500;
    border: 1px solid $dark-blue;
    cursor: pointer;
  }
}
.btn--join-group {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $dark-brown;
  
  font-size: 0.8rem;
  border-radius: 4px;
  padding: 0.5rem;
  width: 6rem;
  margin-left: 0.5rem;
  &:hover {
    transform: scale(1.05);
    transition: all .4s ease;
    background: radial-gradient(circle, $light-green 40%, $dark-green 100%);
    color: $body-lightest;
    font-weight: 500;
    border: 1px solid $dark-blue;
    cursor: pointer;
  }
}

