

.group-index-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-row: 1 / 13;
  grid-column: 1 / 13;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  // padding-left: 10%;
  // padding-right: 10%;
  background-color: $body-lightest;
  background: linear-gradient(171deg, rgba(245,241,231,1) 10%, rgba(255,254,252,1) 100%);

  h1 {
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: 1.4rem;
    text-shadow: 2px;
    border-bottom: 1px solid $dark-blue;
  }
}

.gi-sub-header {
  // border: 1px solid gray;
  display: flex;
  grid-row: 1 / 3;
  grid-column: 1 / 13;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
  font-family: 'Montserrat', sans-serif;
  // color: $text-blue;
  color: $dark-brown;
  font-weight: 500;
  font-size: 1.1rem;
}

.gi-content {
  // border: 1px solid gray;
  grid-row: 3 / 13;
  grid-column: 1 / 13;
  display: flex;
  padding-left: 6rem;
  padding-right: 6rem;
  // width: 100%;
}

.gi-groups-container {
  // border: 1px solid gray;
  grid-row: 3 / 12;
  grid-column: 4 / 13;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.gi-group-list {
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // height: 100%;
  padding-top: 1rem;
  justify-content: space-around;

}

.gi-group-item {
  display: flex;
  flex-direction: column;
  // border: 1px solid gray;
  width: 30vh;
  height: 20vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem; 
  border-radius: 6px;
  box-shadow: 2px 2px 12px black;
  // background-color: $dark-green; 
  background: radial-gradient(circle, $light-green 1%, $dark-green 100%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $body-lightest;
  cursor: pointer;
}

.gi-group-item:hover {

}

.gi-group-name {
  font-size: 1.2rem;
  padding-bottom: 0.25rem;
  font-family: 'Bodoni Moda', serif;
  font-weight: 700;
  border-bottom: 1px solid $body-lightest;
}

.gi-group-total {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
  padding-top: 1rem;
}

.gi-group-founder {
  font-size: 0.8rem;
  padding: 0.25rem;
  border: 1px solid $body-lightest;
}

.gi-group-member {
  font-size: 0.8rem;
}

